<div class="min-h-screen flex flex-col gap-4">

  <div class="flex  flex-col items-center justify-between mb-6 gap-3 py-4">
    <h2 class="text-5xl font-semibold text-center flex-grow mx-4">Your To do List</h2>
    <div class="flex self-start  space-x-2 gap-4">
      <p-button label="Back to classic" icon="pi pi-arrow-left" [rounded]="true" severity="info" (click)="goToClassicList()"></p-button>
      <p-button label="Toggle Dark Mode" icon="pi pi-moon" [rounded]="true" severity="contrast" (click)="toggleDarkMode()"></p-button>
    </div>
  </div>

  <div class="p-input-group mb-6 flex gap-2">
    <input
      type="text"
      pInputText
      [(ngModel)]="inputValue"
      placeholder="Describe your task..."
      class="flex-grow"
    />
    <p-button label="Add" icon="pi pi-plus" [rounded]="true" (click)="addTask()" severity="success"></p-button>
  </div>

  <div class="flex items-center gap-4">
    <input
      pInputText
      [(ngModel)]="filterText"
      placeholder="Search"
      class="flex-1 min-w-0"
    />
    <p-calendar
      [(ngModel)]="startDate"
      placeholder="From"
      dateFormat="yy-mm-dd"
      showIcon
      class="w-40 min-w-0"
    ></p-calendar>
    <p-calendar
      [(ngModel)]="endDate"
      placeholder="To"
      dateFormat="yy-mm-dd"
      showIcon
      class="w-40 min-w-0"
    ></p-calendar>
    <p-button
      label="Sort by Date"
      pButtonIcon="pi pi-sort-alt"
      [rounded]="true"
      (click)="sortByDate()"
      severity="secondary"
    ></p-button>
  </div>


  <p-accordion [multiple]="true">
    <p-accordion-panel value="0">
      <p-accordion-header>Pending</p-accordion-header>
      <p-accordion-content>
        <ng-container *ngIf="filteredPendingTasks | async as pendingTasks">
          <p *ngIf="!pendingTasks.length" class="p-text-muted">No tasks</p>

          <div class="flex flex-col gap-4">
            <p-card *ngFor="let task of pendingTasks" class="shadow-md hover: cursor-pointer">
              <ng-template pTemplate="title">
                <span class="break-words whitespace-normal">{{ task.title }}</span>
              </ng-template>
              <ng-template pTemplate="content">
                <p><strong>Last updated:</strong> {{ task.date | date : 'short' }}</p>
              </ng-template>
              <ng-template pTemplate="footer">

              </ng-template>
            </p-card>
          </div>

        </ng-container>
      </p-accordion-content>
    </p-accordion-panel>


    <p-accordion-panel value="1">
      <p-accordion-header>In progress</p-accordion-header>
      <p-accordion-content>
        <ng-container *ngIf="filteredInProgressTasks | async as inProgressTasks">
          <p *ngIf="!inProgressTasks.length" class="p-text-muted">No tasks</p>

          <div class="flex flex-col gap-4">
            <p-card *ngFor="let task of inProgressTasks" class="shadow-md">
              <ng-template pTemplate="title">
                <span class="break-words whitespace-normal">{{ task.title }}</span>
              </ng-template>
              <ng-template pTemplate="content">
                <p><strong>Last updated:</strong> {{ task.date | date : 'short' }}</p>
              </ng-template>
              <ng-template pTemplate="footer">

              </ng-template>
            </p-card>
          </div>

        </ng-container>
      </p-accordion-content>
    </p-accordion-panel>

    <p-accordion-panel value="2">
      <p-accordion-header>Completed</p-accordion-header>
      <p-accordion-content>
        <ng-container *ngIf="filteredCompletedTasks | async as completedTasks">
          <p *ngIf="!completedTasks.length" class="p-text-muted">No tasks</p>

          <div class="flex flex-col gap-4">
            <p-card *ngFor="let task of completedTasks" class="shadow-md">
              <ng-template pTemplate="title">
                <span class="break-words whitespace-normal">{{ task.title }}</span>
              </ng-template>
              <ng-template pTemplate="content">
                <p><strong>Last updated:</strong> {{ task.date | date : 'short' }}</p>
              </ng-template>
              <ng-template pTemplate="footer">

              </ng-template>
            </p-card>
          </div>

        </ng-container>
      </p-accordion-content>
    </p-accordion-panel>
  </p-accordion>

</div>
